/* Please make the h1 30px, with a little padding on the left, and thin red border */
h1 {
    font-size: 30px;
    padding-left: 2px;
    border: 2px solid red;
}
/* Please make the h2 25px, with padding on top/bottom, a thick gold border, and margin on the top/bottom */
h2 {
    font-size: 25px;
    padding: 10px 0 10px 0;
    border: 6px solid gold; 
    margin: 10px 0; /*ESTO ES IGUAL QUE "10px 0 10px 0" con 10px arriba y abajo y 0 a los lados*/ 
}
/* Please make the spans have a thin black border, a little padding, and blue */
span {
    border: 10px solid black;
    padding: 5px;
    color: blue;
}
/* Please make the section 25% width, 200px tall, centered, and with a thin purple border */
section {
    width: 25%;
    height: 200px;
    margin: 0 auto; /* Esto es igual que "0 auto 0 auto", haciendo que el texto
    se centre, con un margen superior e inferior de 0 y a los lados automático */
    border: 2px solid purple;
}